DATABASE_URI = your values
PORT = 8000
ORIGIN= original values here
CLOUD_NAME = your original values here
API_KEY = your original values here
API_SECRET = your original values here
WEBHOOK_SECRET = your original values here
CLERK_SECRET_KEY = your original values here
CLERK_PUBLISHABLE_KEY = your original values here